@font-face {
  font-family: "waiting";
  src: url("/font/Waiting_for_the_Sunrise/WaitingfortheSunrise-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-size: 16px;
  font-family: waiting, sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

#canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#loading {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: #fff;
  display: grid;
  place-items: center;
  transition: all .3s ease-in-out;
}

#loading[data-visible=false] {
  opacity: 0;
}

#loading .loading_img {
  height: 10rem;
}

#loading .loading_text {
  text-transform: capitalize;
  font-size: 2rem;
  text-align: center;
  translate: 0 -3rem;
}
